.div-hover {
    display: none;
}
    
.on-hover:hover .div-hover {
    display: block;
}

.div-child-hover{
	display:none;
}

.on-child-hover:hover .div-child-hover {
    display: block;
}

.div-active-hover{
	display: none;
}

.on-active-hover:hover .div-active-hover{
	display: block;
}

a:hover {
    text-decoration: underline;
}

a:not([aria-expanded="true"]) .fa.fa-caret-up,
a[aria-expanded="false"] .fa.fa-caret-up,
a[aria-expanded="true"] .fa.fa-caret-down {
   display:none;
}
