.div-hover {
    display: none;
}
    
.on-hover:hover .div-hover {
    display: block;
}

.div-child-hover{
	display:none;
}

.on-child-hover:hover .div-child-hover {
    display: block;
}

.div-active-hover{
	display: none;
}

.on-active-hover:hover .div-active-hover{
	display: block;
}

